In [1]:
%load_ext sql

In [2]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [3]:
%%sql
create table transaction_table
(
AccountNumber int,
Transactiontime timestamp,
TransactionId int,
Balance decimal(19,3)
);

 * sqlite:///./test.db
Done.

[]

In [4]:
%%sql

insert into transaction_table values 
(550,'2020-05-12 05:29:44',1001,2000),
(550,'2020-05-15 10:29:25',1002,8000),
(460,'2020-03-15 11:29:23',1003,9000),
(460,'2020-04-30 11:29:57',1004,7000),
(460,'2020-04-30 12:32:44',1005,5000),
(640,'2020-02-18 06:29:34',1006,5000),
(640,'2020-02-18 06:29:37',1007,9000);

 * sqlite:///./test.db
7 rows affected.

[]

In [5]:
%sql select * from transaction_table

 * sqlite:///./test.db
Done.

[(550, '2020-05-12 05:29:44', 1001, 2000),
 (550, '2020-05-15 10:29:25', 1002, 8000),
 (460, '2020-03-15 11:29:23', 1003, 9000),
 (460, '2020-04-30 11:29:57', 1004, 7000),
 (460, '2020-04-30 12:32:44', 1005, 5000),
 (640, '2020-02-18 06:29:34', 1006, 5000),
 (640, '2020-02-18 06:29:37', 1007, 9000)]

SQL to get most recent transactionid/balance for each account number

In [10]:
%%sql
select * from (
select AccountNumber,transactionid,transactiontime,balance,row_number() 
over (partition by accountnumber order by transactiontime desc) rnk
from transaction_table)x where rnk=1

 * sqlite:///./test.db
Done.

[(460, 1005, '2020-04-30 12:32:44', 5000, 1),
 (550, 1002, '2020-05-15 10:29:25', 8000, 1),
 (640, 1007, '2020-02-18 06:29:37', 9000, 1)]