In [1]:
%load_ext sql

In [7]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [28]:
%%sql 
DROP TABLE Transaction_Tbl;
CREATE TABLE [Transaction_Tbl](
 [CustID] [int] ,
 [TranID] [int] ,
 [TranAmt] [float] ,
 [TranDate] [date] 
);

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
Done.
Done.

[]

In [29]:
%%sql
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20001, 10000, date('2020-04-25'));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20002, 15000, date('2020-04-25'));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20003, 80000, date('2020-04-25'));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20004, 20000, date('2020-04-25'));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1002, 30001, 7000, date('2020-04-25'));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1002, 30002, 15000, date('2020-04-25'));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1002, 30003, 22000, date('2020-04-25'));

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [30]:
%sql select * from transaction_tbl

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
Done.

[(1001, 20001, 10000.0, '2020-04-25'),
 (1001, 20002, 15000.0, '2020-04-25'),
 (1001, 20003, 80000.0, '2020-04-25'),
 (1001, 20004, 20000.0, '2020-04-25'),
 (1002, 30001, 7000.0, '2020-04-25'),
 (1002, 30002, 15000.0, '2020-04-25'),
 (1002, 30003, 22000.0, '2020-04-25')]

Display all fields along with Maximun transamt for each custId and ratio of transAmt and Maximum transAmt for each transaction

In [32]:
%%sql 
select *,TranAmt/maxTranAmt ratio from (
select *,max(TranAmt) over(partition by CustID) maxTranAmt from transaction_tbl)x

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
Done.

[(1001, 20001, 10000.0, '2020-04-25', 80000.0, 0.125),
 (1001, 20002, 15000.0, '2020-04-25', 80000.0, 0.1875),
 (1001, 20003, 80000.0, '2020-04-25', 80000.0, 1.0),
 (1001, 20004, 20000.0, '2020-04-25', 80000.0, 0.25),
 (1002, 30001, 7000.0, '2020-04-25', 22000.0, 0.3181818181818182),
 (1002, 30002, 15000.0, '2020-04-25', 22000.0, 0.6818181818181818),
 (1002, 30003, 22000.0, '2020-04-25', 22000.0, 1.0)]

In [35]:
%%sql
select t.custid,tranid,tranamt,trandate,tx.maxtranamt,t.tranamt/tx.maxtranamt ratio 
from transaction_tbl t inner join 
(select custid,max(tranamt) maxtranamt from transaction_tbl group by custid) tx
on t.custid=tx.custid

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
Done.

[(1001, 20001, 10000.0, '2020-04-25', 80000.0, 0.125),
 (1001, 20002, 15000.0, '2020-04-25', 80000.0, 0.1875),
 (1001, 20003, 80000.0, '2020-04-25', 80000.0, 1.0),
 (1001, 20004, 20000.0, '2020-04-25', 80000.0, 0.25),
 (1002, 30001, 7000.0, '2020-04-25', 22000.0, 0.3181818181818182),
 (1002, 30002, 15000.0, '2020-04-25', 22000.0, 0.6818181818181818),
 (1002, 30003, 22000.0, '2020-04-25', 22000.0, 1.0)]