In [2]:
%load_ext sql

In [5]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [8]:
%%sql
DROP Table if exists Emp_Details;
CREATE TABLE Emp_Details (
EMPID int,
Gender varchar,
EmailID varchar(30),
DeptID int)

 * sqlite:///./test.db
Done.
Done.

[]

In [9]:
%%sql

INSERT INTO Emp_Details VALUES (1001,'M','YYYYY@gmaix.com',104);
INSERT INTO Emp_Details VALUES (1002,'M','ZZZ@gmaix.com',103);
INSERT INTO Emp_Details VALUES (1003,'F','AAAAA@gmaix.com',102);
INSERT INTO Emp_Details VALUES (1004,'F','PP@gmaix.com',104);
INSERT INTO Emp_Details VALUES (1005,'M','CCCC@yahu.com',101);
INSERT INTO Emp_Details VALUES (1006,'M','DDDDD@yahu.com',100);
INSERT INTO Emp_Details VALUES (1007,'F','E@yahu.com',102);
INSERT INTO Emp_Details VALUES (1008,'M','M@yahu.com',102);
INSERT INTO Emp_Details VALUES (1009,'F','SS@yahu.com',100);

 * sqlite:///./test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [11]:
%sql select * from Emp_Details

 * sqlite:///./test.db
Done.

[(1001, 'M', 'YYYYY@gmaix.com', 104),
 (1002, 'M', 'ZZZ@gmaix.com', 103),
 (1003, 'F', 'AAAAA@gmaix.com', 102),
 (1004, 'F', 'PP@gmaix.com', 104),
 (1005, 'M', 'CCCC@yahu.com', 101),
 (1006, 'M', 'DDDDD@yahu.com', 100),
 (1007, 'F', 'E@yahu.com', 102),
 (1008, 'M', 'M@yahu.com', 102),
 (1009, 'F', 'SS@yahu.com', 100)]

SQL to derive one more column "email list" to display all email id concatednated with ; associated with each 
department ID