In [1]:
%load_ext sql

In [3]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [5]:
%%sql
Drop table if exists sales_table;
Create Table Sales_Table(
Sales_Date Date,
Sales_Amount Bigint,
Currency Varchar(10)
);

 * sqlite:///./test.db
Done.
Done.

[]

In [6]:
%%sql
CREATE TABLE ExchangeRate_Table(
 [Source_Currency] varchar(10) ,
 [Target_Currency] varchar(10),
 Exchange_Rate float ,
 [Effective_Start_Date] date 
)

 * sqlite:///./test.db
Done.

[]

In [7]:
%%sql
INSERT INTO Sales_Table Values ('2020-01-01',500,'INR');
INSERT INTO Sales_Table Values ('2020-01-01',100,'GBP');
INSERT INTO Sales_Table Values ('2020-01-02',1000,'INR');
INSERT INTO Sales_Table Values ('2020-01-02',500,'GBP');
INSERT INTO Sales_Table Values ('2020-01-03',500,'INR');
INSERT INTO Sales_Table Values ('2020-01-17',200,'GBP');

 * sqlite:///./test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [9]:
%%sql
INSERT INTO [ExchangeRate_Table] VALUES ('INR','USD', 0.014,'2019-12-31');
INSERT INTO [ExchangeRate_Table] VALUES ('INR','USD', 0.015,'2020-01-02');
INSERT INTO [ExchangeRate_Table] VALUES ('GBP','USD', 1.32, '2019-12-20');
INSERT INTO [ExchangeRate_Table] VALUES ('GBP','USD', 1.3, '2020-01-01' );
INSERT INTO [ExchangeRate_Table] VALUES ('GBP','USD', 1.35, '2020-01-16');

 * sqlite:///./test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [10]:
%sql select * from sales_table;

 * sqlite:///./test.db
Done.

[('2020-01-01', 500, 'INR'),
 ('2020-01-01', 100, 'GBP'),
 ('2020-01-02', 1000, 'INR'),
 ('2020-01-02', 500, 'GBP'),
 ('2020-01-03', 500, 'INR'),
 ('2020-01-17', 200, 'GBP')]

In [11]:
%sql select * from exchangerate_Table

 * sqlite:///./test.db
Done.

[('INR', 'USD', 0.014, '2019-12-31'),
 ('INR', 'USD', 0.015, '2020-01-02'),
 ('GBP', 'USD', 1.32, '2019-12-20'),
 ('GBP', 'USD', 1.3, '2020-01-01'),
 ('GBP', 'USD', 1.35, '2020-01-16')]

Write SQL to get Total  sales amount in USD for each sales date

In [38]:
%%sql
select sales_date,sum(sales_amount*exchange_rate) from sales_table s join (
select *,
ifnull(date(lead(effective_start_date) 
        over(partition by source_currency 
        order by effective_start_Date),'-1 day'),'9999-12-31') effective_end_date
from exchangerate_table
) e
on s.currency=e.source_currency and
 (s.sales_date between e.effective_start_date and e.effective_end_date)
    group by sales_date

 * sqlite:///./test.db
Done.

[('2020-01-01', 137.0),
 ('2020-01-02', 665.0),
 ('2020-01-03', 7.5),
 ('2020-01-17', 270.0)]