In [1]:
%load_ext sql

In [2]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [3]:
%%sql

Create Table Stadium(
id int,
Visit_Date Date,
No_Of_People Bigint)

 * sqlite:///./test.db
Done.

[]

In [4]:
%%sql
Insert into Stadium Values(1,'2018-01-01',10)
,(2,'2018-01-02',110)
,(3,'2018-01-03',150)
,(4,'2018-01-04',98)
,(5,'2018-01-05',140)
,(6,'2018-01-06',1450)
,(7,'2018-01-07',199)
,(8,'2018-01-09',125)
,(9,'2018-01-10',88)

 * sqlite:///./test.db
9 rows affected.

[]

In [7]:
%sql select * from stadium limit 5

 * sqlite:///./test.db
Done.

[(1, '2018-01-01', 10),
 (2, '2018-01-02', 110),
 (3, '2018-01-03', 150),
 (4, '2018-01-04', 98),
 (5, '2018-01-05', 140)]

 SQL query to display the records with three or more rows with consecutive idâ€™s and the number of people is greater than or equal to 100. Return the result table ordered by Visit_Date

In [23]:
%%sql
select id,visit_date,no_of_people from(
select id,visit_date,no_of_people,count() over(partition by grp) cnt from (
select id,visit_date,no_of_people,sum(ifnull(grp_seq,0)) over(order by id) grp from (
select *,id-1-lag(id,1) over(order by id) grp_seq from stadium
where no_of_people >= 100)x)y)z where cnt > 3 order by visit_date

 * sqlite:///./test.db
Done.

[(5, '2018-01-05', 140),
 (6, '2018-01-06', 1450),
 (7, '2018-01-07', 199),
 (8, '2018-01-09', 125)]

In [29]:
%%sql
select id,visit_date,no_of_people from (
select id,visit_date,no_of_people,count() over (partition by grp) cnt from (
select id,visit_date,no_of_people,id-row_number() over (order by id) grp from stadium
where no_of_people >=100)x )y where cnt >=3

 * sqlite:///./test.db
Done.

[(5, '2018-01-05', 140),
 (6, '2018-01-06', 1450),
 (7, '2018-01-07', 199),
 (8, '2018-01-09', 125)]