In [1]:
%load_ext sql

In [2]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [3]:
%%sql
Drop table if exists account_table;
Create Table Account_Table(
TranDate DateTime,
TranID Varchar(20),
TranType Varchar(10),
Amount Float);

 * sqlite:///./test.db
Done.
Done.

[]

In [4]:
%%sql
INSERT into [Account_Table] ([TranDate], [TranID], [TranType], [Amount]) VALUES 
('2020-05-12T05:29:44.120', 'A10001','Credit', 50000)
, ('2020-05-13T10:30:20.100', 'B10001','Debit', 10000)
, ('2020-05-13T11:27:50.130', 'B10002','Credit', 20000)
, ('2020-05-14T08:35:30.123', 'C10001','Debit', 5000)
, ('2020-05-14T09:43:51.100', 'C10002','Debit', 5000)
, ('2020-05-15T05:51:11.117', 'D10001','Credit', 30000)

 * sqlite:///./test.db
6 rows affected.

[]

In [5]:
%sql select * from account_Table

 * sqlite:///./test.db
Done.

[('2020-05-12T05:29:44.120', 'A10001', 'Credit', 50000.0),
 ('2020-05-13T10:30:20.100', 'B10001', 'Debit', 10000.0),
 ('2020-05-13T11:27:50.130', 'B10002', 'Credit', 20000.0),
 ('2020-05-14T08:35:30.123', 'C10001', 'Debit', 5000.0),
 ('2020-05-14T09:43:51.100', 'C10002', 'Debit', 5000.0),
 ('2020-05-15T05:51:11.117', 'D10001', 'Credit', 30000.0)]

SQL to derive the Net Balance column based on Credit/Debit of the Amount

In [11]:
%%sql 
select *,sum(case when trantype='Credit' then amount
            when trantype='Debit' then -amount end) over(order by trandate) net_balance from account_table

 * sqlite:///./test.db
Done.

[('2020-05-12T05:29:44.120', 'A10001', 'Credit', 50000.0, 50000.0),
 ('2020-05-13T10:30:20.100', 'B10001', 'Debit', 10000.0, 40000.0),
 ('2020-05-13T11:27:50.130', 'B10002', 'Credit', 20000.0, 60000.0),
 ('2020-05-14T08:35:30.123', 'C10001', 'Debit', 5000.0, 55000.0),
 ('2020-05-14T09:43:51.100', 'C10002', 'Debit', 5000.0, 50000.0),
 ('2020-05-15T05:51:11.117', 'D10001', 'Credit', 30000.0, 80000.0)]