In [1]:
%load_ext sql

In [2]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [7]:
%%sql Create Table SalesInfo(
Continents varchar(30),
Country varchar(30),
Sales Bigint
)

 * sqlite:///./test.db
Done.

[]

In [8]:
%%sql

Insert into SalesInfo Values('Asia','India',50000)
,('Asia','India',70000)
,('Asia','India',60000)
,('Asia','Japan',10000)
,('Asia','Japan',20000)
,('Asia','Japan',40000)
,('Asia','Thailand',20000)
,('Asia','Thailand',30000)
,('Asia','Thailand',40000)
,('Europe','Denmark',40000)
,('Europe','Denmark',60000)
,('Europe','Denmark',10000)
,('Europe','France',60000)
,('Europe','France',30000)
,('Europe','France',40000)

 * sqlite:///./test.db
15 rows affected.

[]

In [10]:
%sql select * from salesinfo limit 5

 * sqlite:///./test.db
Done.

[('Asia', 'India', 50000),
 ('Asia', 'India', 70000),
 ('Asia', 'India', 60000),
 ('Asia', 'Japan', 10000),
 ('Asia', 'Japan', 20000)]

SQL Query to get aggregate sum of sales countrywise and display only
those which are maximum in each continent

In [18]:
%%sql
select y.* from
(select sum(sales) sales,country,continents from salesinfo
group by country,continents)y
join
(select continents,max(sales) sales from (
select sum(sales) sales,country,continents from salesinfo
group by country,continents)x
group by continents)z
on y.sales=z.sales and y.continents=z.continents

 * sqlite:///./test.db
Done.

[(130000, 'France', 'Europe'), (180000, 'India', 'Asia')]