In [1]:
%load_ext sql

In [2]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [3]:
%%sql
Create Table BalanceTbl(
Balance int,
Dates Date
);

 * sqlite:///./test.db
Done.

[]

In [4]:
%%sql
Insert into BalanceTbl Values(26000,'2020-01-01')
,(26000,'2020-01-02')
,(26000,'2020-01-03')
,(30000,'2020-01-04')
,(30000,'2020-01-05')
,(26000,'2020-01-06')
,(26000,'2020-01-07')
,(32000,'2020-01-08')
,(31000,'2020-01-09');

 * sqlite:///./test.db
9 rows affected.

[]

In [6]:
%sql select * from balancetbl

 * sqlite:///./test.db
Done.

[(26000, '2020-01-01'),
 (26000, '2020-01-02'),
 (26000, '2020-01-03'),
 (30000, '2020-01-04'),
 (30000, '2020-01-05'),
 (26000, '2020-01-06'),
 (26000, '2020-01-07'),
 (32000, '2020-01-08'),
 (31000, '2020-01-09')]

SQL to derive Start_Date and End_Date column when there is continuous amount in Balance column

In [18]:
%%sql 
select balance,dates,sum(temp_seq) over (order by dates) as grp from (
select balance,dates,case when lag(Balance) over (order by dates)=balance then 0 else 1 end as temp_seq
from balancetbl) x

 * sqlite:///./test.db
Done.

[(26000, '2020-01-01', 1),
 (26000, '2020-01-02', 1),
 (26000, '2020-01-03', 1),
 (30000, '2020-01-04', 2),
 (30000, '2020-01-05', 2),
 (26000, '2020-01-06', 3),
 (26000, '2020-01-07', 3),
 (32000, '2020-01-08', 4),
 (31000, '2020-01-09', 5)]

In [22]:
%%sql 
select sales_date,sum(sales_amount * exchange_rate) from(
select s.sales_date,s.sales_amount,s.currency,e.exchange_rate,e.effective_start_date,
row_number() over(partition by sales_date,currency order by effective_start_date desc) rnk
from sales_table s join exchangerate_table e
on s.currency=e.source_currency
and s.sales_date > e.effective_start_date)x
where rnk=1
group by sales_date

 * sqlite:///./test.db
Done.

[('2020-01-01', 139.0),
 ('2020-01-02', 664.0),
 ('2020-01-03', 7.5),
 ('2020-01-17', 270.0)]