In [2]:
%load_ext sql

In [3]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [6]:
%%sql
DROP TABLE IF EXISTS amz_country;
create  table amz_country (id int , country_name nvarchar(100));

insert into amz_country  values (1  ,'India');
insert into amz_country  values (2  ,'Australia');
insert into amz_country  values (3  ,'England');
insert into amz_country  values (4  ,'NewZealand');

 * sqlite:///./test.db
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [7]:
%sql select * from amz_country

 * sqlite:///./test.db
Done.

[(1, 'India'), (2, 'Australia'), (3, 'England'), (4, 'NewZealand')]

SQL which will fetch total schedule of matches between each Team vs opposite team

In [17]:
%%sql select (t1.country_name || ' Vs '|| t2.country_name) mtch from 
amz_country t1 inner join amz_country t2
on t1.id < t2.id

 * sqlite:///./test.db
Done.

[('India Vs Australia',),
 ('India Vs England',),
 ('India Vs NewZealand',),
 ('Australia Vs England',),
 ('Australia Vs NewZealand',),
 ('England Vs NewZealand',)]