In [1]:
%load_ext sql

In [7]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [9]:
%%sql CREATE TABLE [Transaction_Tbl](
 [CustID] [int] ,
 [TranID] [int] ,
 [TranAmt] [float] ,
 [TranDate] [date] 
)

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
Done.

[]

In [18]:
%%sql
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20001, 10000, CAST('2020-04-25' AS Date));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20002, 15000, CAST('2020-04-25' AS Date));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20003, 80000, CAST('2020-04-25' AS Date));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1001, 20004, 20000, CAST('2020-04-25' AS Date));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1002, 30001, 7000, CAST('2020-04-25' AS Date));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1002, 30002, 15000, CAST('2020-04-25' AS Date));
INSERT into [Transaction_Tbl] ([CustID], [TranID], [TranAmt], [TranDate]) VALUES (1002, 30003, 22000, CAST('2020-04-25' AS Date));

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [19]:
%sql select * from transaction_tbl

   sqlite://
   sqlite:///./sql.db
 * sqlite:///./test.db
Done.

[(1001, 20001, 10000.0, 2020),
 (1001, 20002, 15000.0, 2020),
 (1001, 20003, 80000.0, 2020),
 (1001, 20004, 20000.0, 2020),
 (1002, 30001, 7000.0, 2020),
 (1002, 30002, 15000.0, 2020),
 (1002, 30003, 22000.0, 2020)]