In [1]:
%load_ext sql

In [2]:
%sql sqlite:///./test.db

'Connected: @./test.db'

In [3]:
%%sql 
Create Table Travel_Table(
Start_Location Varchar(30),
End_Location Varchar(30),
Distance int)

 * sqlite:///./test.db
Done.

[]

In [5]:
%%sql
Insert into Travel_Table Values('Delhi','Pune',1400);
Insert into Travel_Table Values('Pune','Delhi',1400);
Insert into Travel_Table Values('Bangalore','Chennai',350);
Insert into Travel_Table Values('Mumbai','Ahmedabad',500);
Insert into Travel_Table Values('Chennai','Bangalore',350);
Insert into Travel_Table Values('Patna','Ranchi',300);

 * sqlite:///./test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%sql select * from travel_table

 * sqlite:///./test.db
Done.

[('Delhi', 'Pune', 1400),
 ('Pune', 'Delhi', 1400),
 ('Bangalore', 'Chennai', 350),
 ('Mumbai', 'Ahmedabad', 500),
 ('Chennai', 'Bangalore', 350),
 ('Patna', 'Ranchi', 300)]

SQL to get unique combination of  two columns Source and Destination irrespective of order of columns

In [11]:
%%sql
select * from travel_table
where start_location < end_location
union
select * from travel_table where start_location not in (
    select end_location from travel_table)

 * sqlite:///./test.db
Done.

[('Bangalore', 'Chennai', 350),
 ('Delhi', 'Pune', 1400),
 ('Mumbai', 'Ahmedabad', 500),
 ('Patna', 'Ranchi', 300)]